MYTGT=esp32
export ESPBAUD=2000000
export SERIAL=/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_0255CF15-if00-port0   # SERIAL_ESP1
IDF_COMPONENT="# empty for this build"      # must eventually remove debris from other builds

# --------------------------------------------------------------------------------------------------------------
if (( ENTITY == 37 )); then     # esp32-37 192.168.0.11  aa:bb:cc:00:00:01   ultra_espnow_gw/       seed studio XIAO ESP32-S3 8 MB PSRAM/ 8 MB Flash #3 botland (host13 garage)
    MYTGT=esp32s3
    export ESPBAUD=3000000
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:01-if00
    SDK_VERS=XIAO_8MBFLASH_PSRAM            # <= DEBUG
    SDK_VERS=XIAO_8MBFLASH_PSRAM_noDEBUG    # <= NO DEBUG
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 41 )); then     # ESPNOW_001_GW_MAC seed studio XIAO ESP32-S3 8 MB PSRAM/ 8 MB Flash #2 botland
    MYTGT=esp32s3
    export ESPBAUD=3000000
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:02-if00
    SDK_VERS=XIAO_8MBFLASH_PSRAM_noDEBUG
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 44 )); then   # esp32-44 192.168.0.12   aa:bb:cc:00:00:03   ultra_espnow_gw/       seed studio XIAO ESP32-S3 8 MB PSRAM/ 8 MB Flash #1 botland (media room)
    MYTGT=esp32s3
    export ESPBAUD=3000000
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:03-if00
    SDK_VERS=XIAO_8MBFLASH_PSRAM_noDEBUG
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 69 )); then     # ESPNOW_002_GW_MAC seed studio XIAO ESP32-S3 8 MB PSRAM/ 8 MB Flash #4 botland
    MYTGT=esp32s3
    export ESPBAUD=3000000
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:04-if00
    SDK_VERS=XIAO_8MBFLASH_PSRAM_noDEBUG
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 55 )); then   # esp32-55 192.168.0.13   aa:bb:cc:00:00:05   ultra_ap/ wifi         wt32-eth01 v1.4 wireless tag (TENSTAR)             (stairs tester)
    (( OTA_ENTITY = ENTITY - 1 ))
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 57 )); then   # esp32-57 192.168.0.14   aa:bb:cc:00:00:06   ultra_ap2/ wifi        wt32-eth01 v1.4 wireless tag (TENSTAR)
    (( OTA_ENTITY = ENTITY - 1 ))
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 61 )); then   # esp32-61 192.168.0.15   aa:bb:cc:00:00:07   ultra_ap3/ wifi        esp32-eth01 v1.4 V1781
    (( OTA_ENTITY = ENTITY - 1 ))
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 65 )); then   # esp32-65 192.168.0.16   aa:bb:cc:00:00:08   ultra_ap5/ wifi        esp32-eth01 v1.4 V1781 BOOT-taster
    (( OTA_ENTITY = ENTITY - 1 ))
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 75 )); then   # esp32-75 192.168.0.17   aa:bb:cc:00:00:09   ultra_espnow_gw/ wifi  esp32-s3-eth wave share R8MTH4 16MB Flash/ 8MB PSRAM SCHLAF-ZI
    (( OTA_ENTITY = ENTITY - 1 ))
    MYTGT=esp32s3
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:09-if00
    export ESPBAUD=3000000

    SDK_VERS=WAVESHARE_S3ETH_16MBFLASH_PSRAM_eth_cam        # <= DEBUG
    SDK_VERS=WAVESHARE_S3ETH_16MBFLASH_PSRAM_wireless_tag_rollback   # <= NO DEBUG, rollback net
    IDF_COMPONENT=$(cat << '!'
    dependencies:
      ethernet_init:
        path: ${IDF_PATH}/examples/ethernet/basic/components/ethernet_init
!
    )
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 77 )); then   # esp32-77 192.168.0.18   aa:bb:cc:00:00:0a   ultra_espnow_gw/ wifi  esp32-s3-eth wave share R8MTH4 16MB Flash/ 8MB PSRAM A-ZI
    (( OTA_ENTITY = ENTITY - 1 ))
    MYTGT=esp32s3
#    export ESPBAUD=3000000
#    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:0A-if00
    export ESPBAUD=2000000
    export SERIAL=/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_0255CF15-if00-port0   # SERIAL_ESP1

    SDK_VERS=WAVESHARE_S3ETH_16MBFLASH_PSRAM_wireless_tag_rollback   # rollback net, see the file
    IDF_COMPONENT=$(cat << '!'
    dependencies:
      ethernet_init:
        path: ${IDF_PATH}/examples/ethernet/basic/components/ethernet_init
!
    )
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 79 )); then   # esp32-79 192.168.0.19   aa:bb:cc:00:00:0b   ultra_espnow_gw/ wifi  esp32-s3-eth wave share R8MTH4 16MB Flash/ 8MB PSRAM
    (( OTA_ENTITY = ENTITY - 1 ))
    MYTGT=esp32s3
    export ESPBAUD=3000000
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:0B-if00

    SDK_VERS=WAVESHARE_S3ETH_16MBFLASH_PSRAM_wireless_tag_rollback   # rollback net, see the file
    IDF_COMPONENT=$(cat << '!'
    dependencies:
      ethernet_init:
        path: ${IDF_PATH}/examples/ethernet/basic/components/ethernet_init
!
    )
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 81 )); then   # esp32-81 192.168.0.20   aa:bb:cc:00:00:0c   ultra_espnow_gw/ wifi  esp32-s3-eth wave share R8MTH4 16MB Flash/ 8MB PSRAM (range probs)
    (( OTA_ENTITY = ENTITY - 1 ))
    MYTGT=esp32s3
    export ESPBAUD=3000000
    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:0C-if00

    SDK_VERS=WAVESHARE_S3ETH_16MBFLASH_PSRAM_wireless_tag_rollback   # rollback net, see the file
    IDF_COMPONENT=$(cat << '!'
    dependencies:
      ethernet_init:
        path: ${IDF_PATH}/examples/ethernet/basic/components/ethernet_init
!
    )
# --------------------------------------------------------------------------------------------------------------
elif (( ENTITY == 87 )); then   # esp32-87 192.168.0.21   
    (( OTA_ENTITY = ENTITY - 1 ))
    MYTGT=esp32s3
#    export ESPBAUD=3000000
#    export SERIAL=/dev/serial/by-id/usb-Espressif_USB_JTAG_serial_debug_unit_AA:BB:CC:00:00:0D-if00
    export SERIAL=/dev/serial/by-id/usb-Silicon_Labs_CP2104_USB_to_UART_Bridge_Controller_02EXVH5I-if00-port0   # SERIAL_ESP2

    SDK_VERS=WAVESHARE_S3ETH_16MBFLASH_PSRAM_wireless_tag_rollback   # rollback net, see the file
    IDF_COMPONENT=$(cat << '!'
    dependencies:
      ethernet_init:
        path: ${IDF_PATH}/examples/ethernet/basic/components/ethernet_init
!
    )
# --------------------------------------------------------------------------------------------------------------
else
    echo ENTITY invalid
    exit
fi

: << !
for i in 55 57 61 65 41 69
do
    FULL=;
    (( i == 55 || i == 41 )) && FULL='full sdk part'
    ENTITY=$i ~/esp/buildit one $FULL < /dev/null || break
done
!

